*{
    padding: 0px;
    margin: 0px;
}

.cajita{
    width: 700px;
}

body{
    background-color: rgb(30,216,98);
    font-family: Arial, Helvetica, sans-serif;
}

.datos{
    background-color: rgb(30,216,98);
    width: 250px;
    margin: 10px;
    transition: .5s;
}

.datos:hover{
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    color: rgb(30,216,98);
    transition: .5s;
    font-size: 22px;
    padding: 30px;
    cursor: pointer;
}

.artistas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around ;
}

.cont-header{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
}

#logo{
    width: 200px;
    margin-left: 4%;
}

#lugar{
    color: aliceblue;
    font-family: 'Rampart One', cursive;
}

.main{
    display: flex;
    height: 800px;
}

.caja-img{
    width: 900px;
    background-color: rgb(30,216,98);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imag{
    width: 500px;
    height: 500px;
}

.titulo-header{
    color: rgb(30,216,98);
    text-decoration: none;
    scroll-behavior: auto;
    animation-duration: 1s;
}


.titulo-header:hover{
    color: rgb(255, 255, 255);
    animation-duration: 1s;
}

.lista{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 700px;
}

.canciones{
    display: flex;
}

.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

#imag{
    width: 200px;
    height: 200px;
}

.card{
    width: 300px;
    margin: 20px;
}

#nameSong{
    width: 200px;
}

.top{
    transition: 1s;
    margin-top: 50px;
    margin-block-end: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toptitle{
    margin-block-end: 50px;
}

#btnLoad{
    display: none;
}